!!!
%html
  %head
    %title Jobs
    %link(rel="stylesheet" type="text/css" href="#{u 'stylesheets/reset.css'}")
    %link(rel="stylesheet" type="text/css" href="#{u 'stylesheets/style.css'}")
  %body
    %div#main
      = yield
    %script{:type => "text/javascript", :src  => u("javascripts/jquery-1.7.1.min.js")}
    %script{:type => "text/javascript", :src  => u("javascripts/jquery.relatize_date.js")}
    %script{:type => "text/javascript", :src  => u("javascripts/application.js")}
